streamlit
mysql-connector-python
pandas
requests
python-dotenv
beautifulsoup4
pypdf
docx2txt
plotly
passlib
bcrypt
openai
huggingface_hub
google-generativeai
groq
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
